.white-form {
    -fx-background-color: #fff;
    -fx-background-radius: 8px;
}

.border {
    -fx-border-color: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
}

.btn {
    -fx-background-color: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.tx {
    -fx-text-fill: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.table-view {
    -fx-padding: 0px;
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    -fx-border-radius: 8px;
    -fx-border-width: 2px;
}

.table-view .column-header {
    -fx-alignment: CENTER;
}


.table-view .column-header-background {
    -fx-background-color: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    -fx-background-radius: 8px 8px 0 0;
    -fx-background-inset : 0 0 0 0;
}

.table-view .column-header, .filler {
    -fx-background-color: transparent;
    -fx-size: 50px;
}

.table-view .column-header .label {
    -fx-text-fill: #fff;
    -fx-font-family: Arial;
}

